#! /bin/sh

# configure x

# merge user Xresources
xrdb -merge $HOME/.Xresources

# swap capslock and ctrl
setxkbmap -option 'caps:ctrl_modifier'

# use a normal cursor
xsetroot -cursor_name left_ptr &

# set gtk session for qt apps
export DESKTOP_SESSION=gnome

# configure desktop

# set wal theme colors
wal --theme gatito -a 80
. $HOME/.cache/wal/colors.sh

#set last used wallpaper, or default
if [ -f "$HOME/.fehbg" ]; then
  $HOME/.fehbg &
else
  feh --bg-fill $HOME/.wallpapers/blue-red-poly.jpg &
fi

# auto start
picom --experimental-backends -b &
xss-lock -- lock-screen &
redshift -x
redshift-gtk &
flameshot &
gebaard -b &

# since this is a single user computer we can simply
# lock the session when x starts instead of dealing
# with a full lightdm greeter
i3locker -n
