configuration {
  show-icons: true;
  icon-theme: "Papirus Dark";
  run-command: "run --collect {cmd}";
  drun-show-actions: true;
  sorting-method: "fzf";
  sort: true;
  modi: "drun,window,workspaces:rofi-modi-workspaces,emoji,hidden:rofi-modi-bspwm-unhide";
  sidebar-mode: true;
}

@theme "theme.rasi"

/* code: language=rasi */
/* vim:ft=css */
